<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jewelry.order.mapper.OrderMapper">


	<sql id="order-search">
		<if test='searchstore != null and !searchstore.equals("")'>
			AND a.store_cd = #{searchstore}
		</if>
		<if test='searchmaterial != null and !searchmaterial.equals("")'>
			AND a.material_cd = #{searchmaterial}
		</if>
		<if test='searchstep != null and !searchstep.equals("")'>
			AND a.order_step = #{searchstep}
		</if>
		<if test='searchstdt != null and !searchstdt.equals("")'>
			AND DATE_FORMAT(a.receipt_dt, '%Y-%m-%d') <![CDATA[ >= ]]> STR_TO_DATE(#{searchstdt}, '%Y-%m-%d')
		</if>
		<if test='searcheddt != null and !searcheddt.equals("")'>
			AND DATE_FORMAT(a.receipt_dt, '%Y-%m-%d') <![CDATA[ <= ]]> STR_TO_DATE(#{searcheddt}, '%Y-%m-%d')
		</if>
		<!-- 검색 키워드가 있을 때 -->
		<if test='searchword != null and !searchword.equals("")'>
			AND (
				a.model_id LIKE CONCAT('%', #{searchword}, '%')
				OR b.contractor_nm LIKE CONCAT('%', #{searchword}, '%')
				OR a.vender_nm LIKE CONCAT('%', #{searchword}, '%')
			)
		</if>
	</sql>

	<select id="selectOrderListCount" parameterType="OrderTO" resultType="Integer">
		SELECT COUNT(a.order_no)
		FROM tb_order a
			LEFT OUTER JOIN tb_customer b
				ON a.customer_no = b.customer_no
		WHERE a.del_yn = 'N'
		<if test='order_step != null and !order_step.equals("")'>
			AND a.order_step = #{order_step}
		</if>
		<include refid="order-search" />
	</select>
	
	<select id="selectOrderList" parameterType="OrderTO" resultType="OrderVO">
		SELECT a.order_no, a.order_type, a.store_cd, a.receipt_dt, a.expected_ord_dt, a.customer_no
						, b.contractor_nm as customer_nm, b.contractor_cel as customer_cel, a.order_step
						, a.catalog_no, a.model_id, a.vender_no, a.vender_nm, a.serial_id, a.material_cd, a.color_cd, a.quantity
						, a.main_stone_type, a.sub_stone_type, a.size, a.order_desc
						, c.file_path, c.file_nm, c.origin_nm
		FROM tb_order a
			LEFT OUTER JOIN tb_customer b
				ON a.customer_no = b.customer_no
			LEFT OUTER JOIN tb_file c
				ON a.order_no = c.ref_no
				AND c.ref_info = 'ORDER'
				AND c.file_ord = 1
				AND c.del_yn = 'N'
		WHERE a.del_yn = 'N'
		<if test='order_step != null and !order_step.equals("")'>
			AND a.order_step = #{order_step}
		</if>
		<include refid="order-search" />
		ORDER BY a.order_no DESC
		<include refid="commonMapper.paging" />
	</select>
	
	
	<insert id="insertOrder" parameterType="OrderTO" useGeneratedKeys="true" keyProperty="order_no" keyColumn="order_no">
		INSERT INTO tb_order 
		(
			inpt_id, inpt_dt
			<if test='order_type != null and !order_type.equals("")'>, order_type</if>
			<if test='store_cd != null and !store_cd.equals("")'>, store_cd</if>
			<if test='receipt_dt != null and !receipt_dt.equals("")'>, receipt_dt</if>
			<if test='expected_ord_dt != null and !expected_ord_dt.equals("")'>, expected_ord_dt</if>
			<if test='customer_no != null and customer_no > 0'>, customer_no</if>
			<if test='customer_nm != null and !customer_nm.equals("")'>, customer_nm</if>
			<if test='customer_cel != null and !customer_cel.equals("")'>, customer_cel</if>
			<if test='order_step != null and !order_step.equals("")'>, order_step</if>
			<if test='serial_id != null and !serial_id.equals("")'>, serial_id</if>
			<if test='catalog_no != null and catalog_no > 0'>, catalog_no</if>
			<if test='model_id != null and !model_id.equals("")'>, model_id</if>
			<if test='vender_no != null and vender_no > 0'>, vender_no</if>
			<if test='vender_nm != null and !vender_nm.equals("")'>, vender_nm</if>
			<if test='material_cd != null and !material_cd.equals("")'>, material_cd</if>
			<if test='color_cd != null and !color_cd.equals("")'>, color_cd</if>
			<if test='quantity != null and quantity > 0'>, quantity</if>
			<if test='main_stone_type != null and !main_stone_type.equals("")'>, main_stone_type</if>
			<if test='sub_stone_type != null and !sub_stone_type.equals("")'>, sub_stone_type</if>
			<if test='size != null and !size.equals("")'>, size</if>
			<if test='order_desc != null and !order_desc.equals("")'>, order_desc</if>
			<if test='stock_no != null and stock_no > 0'>, stock_no</if>
			
		)
		VALUES
		(
			#{inpt_id}, NOW()
			<if test='order_type != null and !order_type.equals("")'>, #{order_type}</if>
			<if test='store_cd != null and !store_cd.equals("")'>, #{store_cd}</if>
			<if test='receipt_dt != null and !receipt_dt.equals("")'>, #{receipt_dt}</if>
			<if test='expected_ord_dt != null and !expected_ord_dt.equals("")'>, #{expected_ord_dt}</if>
			<if test='customer_no != null and customer_no > 0'>, #{customer_no}</if>
			<if test='customer_nm != null and !customer_nm.equals("")'>, #{customer_nm}</if>
			<if test='customer_cel != null and !customer_cel.equals("")'>, #{customer_cel}</if>
			<if test='order_step != null and !order_step.equals("")'>, #{order_step}</if>
			<if test='serial_id != null and !serial_id.equals("")'>, #{serial_id}</if>
			<if test='catalog_no != null and catalog_no > 0'>, #{catalog_no}</if>
			<if test='model_id != null and !model_id.equals("")'>, #{model_id}</if>
			<if test='vender_no != null and vender_no > 0'>, #{vender_no}</if>
			<if test='vender_nm != null and !vender_nm.equals("")'>, #{vender_nm}</if>
			<if test='material_cd != null and !material_cd.equals("")'>, #{material_cd}</if>
			<if test='color_cd != null and !color_cd.equals("")'>, #{color_cd}</if>
			<if test='quantity != null and quantity > 0'>, #{quantity}</if>
			<if test='main_stone_type != null and !main_stone_type.equals("")'>, #{main_stone_type}</if>
			<if test='sub_stone_type != null and !sub_stone_type.equals("")'>, #{sub_stone_type}</if>
			<if test='size != null and !size.equals("")'>, #{size}</if>
			<if test='order_desc != null and !order_desc.equals("")'>, #{order_desc}</if>
			<if test='stock_no != null and stock_no > 0'>, #{stock_no}</if>
		)
	</insert>
	
	<select id="selectOrder" parameterType="Long" resultType="OrderVO">
		SELECT a.order_no, a.order_type, a.store_cd, a.receipt_dt, a.expected_ord_dt, a.customer_no
						, b.contractor_nm as customer_nm, b.contractor_cel as customer_cel, a.order_step
						, a.catalog_no, a.model_id, a.vender_no, a.vender_nm, a.serial_id, a.material_cd, a.color_cd, a.quantity
						, a.main_stone_type, a.sub_stone_type, a.size, a.order_desc
		FROM tb_order a
			LEFT OUTER JOIN tb_customer b
				ON a.customer_no = b.customer_no
		WHERE a.order_no = #{order_no}
	</select>
	
	<update id="updateOrder" parameterType="OrderTO">
		UPDATE tb_order
		SET updt_dt = NOW()
		, updt_id = #{updt_id}
		<if test='store_cd != null and !store_cd.equals("")'>, store_cd = #{store_cd}</if>
		<if test='receipt_dt != null and !receipt_dt.equals("")'>, receipt_dt = #{receipt_dt}</if>
		<if test='expected_ord_dt != null and !expected_ord_dt.equals("")'>, expected_ord_dt = #{expected_ord_dt}</if>
		<if test='customer_no != null and customer_no > 0'>, customer_no = #{customer_no}</if>
		<if test='customer_nm != null and !customer_nm.equals("")'>, customer_nm = #{customer_nm}</if>
		<if test='customer_cel != null and !customer_cel.equals("")'>, customer_cel = #{customer_cel}</if>
		<if test='serial_id != null and !serial_id.equals("")'>, serial_id = #{serial_id}</if>
		<if test='catalog_no != null and catalog_no > 0'>, catalog_no = #{catalog_no}</if>
		<if test='model_id != null and !model_id.equals("")'>, model_id = #{model_id}</if>
		<if test='vender_no != null and vender_no > 0'>, vender_no = #{vender_no}</if>
		<if test='vender_nm != null and !vender_nm.equals("")'>, vender_nm = #{vender_nm}</if>
		<if test='material_cd != null and !material_cd.equals("")'>, material_cd = #{material_cd}</if>
		<if test='color_cd != null and !color_cd.equals("")'>, color_cd = #{color_cd}</if>
		<if test='quantity != null and quantity > 0'>, quantity = #{quantity}</if>
		<if test='main_stone_type != null and !main_stone_type.equals("")'>, main_stone_type = #{main_stone_type}</if>
		<if test='sub_stone_type != null and !sub_stone_type.equals("")'>, sub_stone_type = #{sub_stone_type}</if>
		<if test='size != null and !size.equals("")'>, size = #{size}</if>
		<if test='order_desc != null and !order_desc.equals("")'>, order_desc = #{order_desc}</if>
		WHERE order_no = #{order_no}
	</update>
	
	<update id="updateOrdersStatus" parameterType="OrderTO">
		UPDATE tb_order
		SET updt_dt = NOW()
		, updt_id = #{updt_id}
		, order_step = #{order_step}
		WHERE order_no IN (
			<foreach collection="order_no_arr" item="item" separator=" , ">
				#{item}
			</foreach>
		)
	</update>
	
	<update id="updateOrdersToDelete" parameterType="OrderTO">
		UPDATE tb_order
		SET updt_dt = NOW()
		, updt_id = #{updt_id}
		, del_yn = 'Y'
		WHERE order_no IN (
			<foreach collection="order_no_arr" item="item" separator=" , ">
				#{item}
			</foreach>
		)
	</update>
	
	<update id="updateOrdersCustomer" parameterType="OrderTO">
		UPDATE tb_order
		SET updt_dt = NOW()
		, updt_id = #{updt_id}
		<if test='customer_no != null and customer_no > 0'>
			, customer_no = #{customer_no}
			, customer_nm = #{customer_nm}
			, customer_cel = #{customer_cel}
		</if>
		WHERE order_no IN (
			<foreach collection="order_no_arr" item="item" separator=" , ">
				#{item}
			</foreach>
		)
	</update>
	
	<update id="updateOrdersVender" parameterType="OrderTO">
		UPDATE tb_order
		SET updt_dt = NOW()
		, updt_id = #{updt_id}
		<if test='vender_no != null and vender_no > 0'>
			, vender_no = #{vender_no}
			, vender_nm = #{vender_nm}
		</if>
		WHERE order_no IN (
			<foreach collection="order_no_arr" item="item" separator=" , ">
				#{item}
			</foreach>
		)
	</update>
	
	<select id="selectOrderListWithNo" parameterType="OrderTO" resultType="OrderVO">
		SELECT a.order_no, a.order_type, a.store_cd, a.receipt_dt, a.expected_ord_dt, a.customer_no, a.customer_nm, a.customer_cel
						, a.order_step, a.catalog_no, a.model_id, a.vender_no, a.vender_nm, a.serial_id, a.material_cd, a.color_cd, a.quantity
						, a.main_stone_type, a.sub_stone_type, a.size, a.order_desc
						, c.file_no, c.file_path, c.file_nm, c.origin_nm, c.file_ord, c.file_ext, c.file_size, c.version_id
		FROM tb_order a
			LEFT OUTER JOIN tb_file c
				ON a.order_no = c.ref_no
				AND c.ref_info = 'ORDER'
				AND c.file_ord = 1
				AND c.del_yn = 'N'
		WHERE a.order_no IN (
			<foreach collection="order_no_arr" item="item" separator=" , ">
				#{item}
			</foreach>
		)
	</select>
	
	<select id="selectOrderListByOrdersNo" parameterType="OrderTO" resultType="OrderVO">
		SELECT a.order_no, a.catalog_no, a.model_id, a.vender_no, a.vender_nm, a.material_cd, a.color_cd
						, a.main_stone_type, a.sub_stone_type, a.size, a.quantity
						, a.order_desc, a.customer_no, a.customer_nm, a.customer_cel
		FROM tb_order a
		WHERE a.order_no IN (
			<foreach collection="order_no_arr" item="item" separator=" , ">
				#{item}
			</foreach>
		)
		ORDER BY a.order_no DESC
	</select>
	
	<update id="updateOrdersSaleDate" parameterType="OrderTO">
		UPDATE tb_order
		SET updt_dt = NOW()
		, updt_id = #{updt_id}
		, receipt_dt = #{receipt_dt}
		WHERE order_no IN (
			<foreach collection="order_no_arr" item="item" separator=" , ">
				#{item}
			</foreach>
		)
	</update>
	
	<select id="selectNumOfOrdersPerMaterial" parameterType="MainTO" resultType="OrderVO">
		SELECT material_cd, COUNT(order_no) AS order_cnt
		FROM tb_order
		WHERE del_yn = 'N'
		<if test='searchyear != null and !searchyear.equals("")'>
			AND YEAR(receipt_dt) = #{searchyear}
		</if>
		GROUP BY material_cd
		ORDER BY material_cd ASC
	</select>

	<select id="selectCustomerOrderListCount" parameterType="OrderTO" resultType="Integer">
		SELECT COUNT(a.order_no)
		FROM tb_order a
			LEFT OUTER JOIN tb_customer b
				ON a.customer_no = b.customer_no
		WHERE a.customer_no = #{customer_no} 
		AND a.del_yn = 'N'
		<if test='order_step != null and !order_step.equals("")'>
			AND a.order_step = #{order_step}
		</if>
		<include refid="order-search" />
	</select>
	
	<select id="selectCustomerOrderList" parameterType="OrderTO" resultType="OrderVO">
		SELECT a.order_no, a.order_type, a.store_cd, a.receipt_dt, a.expected_ord_dt, a.customer_no
						, b.contractor_nm AS customer_nm, b.contractor_cel AS customer_cel, a.order_step
						, a.catalog_no, a.model_id, a.vender_no, a.vender_nm, a.serial_id, a.material_cd, a.color_cd, a.quantity
						, a.main_stone_type, a.sub_stone_type, a.size, a.order_desc
		FROM tb_order a
			LEFT OUTER JOIN tb_customer b
				ON a.customer_no = b.customer_no
		WHERE a.customer_no = #{customer_no} 
		AND a.del_yn = 'N'
		<if test='order_step != null and !order_step.equals("")'>
			AND a.order_step = #{order_step}
		</if>
		<include refid="order-search" />
		ORDER BY a.order_no DESC
		<include refid="commonMapper.paging" />
	</select>
	
</mapper>