<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jewelry.user.mapper.UserMapper">

	<sql id="user-search">
		<!-- 검색 키워드가 있을 때 -->
		<if test='searchword != null and !searchword.equals("")'>
			AND (
				a.user_id LIKE CONCAT('%', #{searchword}, '%')
				OR a.user_name LIKE CONCAT('%', #{searchword}, '%')
			)
		</if>
	</sql>
	
	<select id="selectUserWithLogin" parameterType="String" resultType="CustomUserDetails">
		SELECT user_id as username, user_name as user_real_name, gender
						, user_pwd as password, user_role as userrole, IFNULL(use_yn,'N') as enableyn
		FROM tb_user
		WHERE user_id = #{user_id}
		AND use_yn = 'Y'
	</select>
	
	<select id="selectUserListCount" parameterType="UserTO" resultType="Integer">
		SELECT COUNT(a.user_id)
		FROM tb_user a
		WHERE user_id != 'admin'
		<include refid="user-search" />
	</select>
	
	<select id="selectUserList" parameterType="UserTO" resultType="UserVO">
		SELECT user_id, user_name, user_role, email, celnum, gender, inpt_dt, use_yn
		FROM tb_user a
		WHERE user_id != 'admin'
		<include refid="user-search" />
		ORDER BY a.inpt_dt DESC
		<include refid="commonMapper.paging" />
	</select>

	<insert id="insertUser" parameterType="UserTO">
    INSERT INTO tb_user (
    	user_id, user_pwd, user_name, user_role, email, celnum, gender, use_yn, inpt_id, inpt_dt
   	)
    VALUES (
    	#{user_id}, #{user_pwd}, #{user_name}, #{user_role}, #{email}, #{celnum}, #{gender}, #{use_yn}, #{inpt_id}, NOW()
   	)
  </insert>
  
	<select id="selectUser" parameterType="String" resultType="UserVO">
		SELECT user_id, user_name, email, celnum, gender, use_yn
		FROM tb_user
		WHERE user_id = #{user_id}
	</select>
	
	<update id="updateUser" parameterType="UserTO">
		UPDATE tb_user
		SET updt_dt = NOW()
		, updt_id = #{updt_id}
		<if test='user_pwd != null and !user_pwd.equals("")'>
			, user_pwd = #{user_pwd}
		</if>
		, user_name = #{user_name}
		, celnum = #{celnum}
		, email = #{email}
		, gender = #{gender}
		, use_yn = #{use_yn}
		WHERE user_id = #{user_id}
	</update>
	
	<select id="selectManagerListCount" parameterType="UserTO" resultType="Integer">
		SELECT COUNT(a.user_id)
		FROM tb_user a
		WHERE a.user_role = 'MANAGER'
		<include refid="user-search" />
	</select>
	
	<select id="selectManagerList" parameterType="UserTO" resultType="UserVO">
		SELECT user_id, user_name, use_yn, gender, user_role
		FROM tb_user a
		WHERE a.user_role = 'MANAGER'
		<include refid="user-search" />
		ORDER BY a.user_name DESC
		<include refid="commonMapper.paging" />
	</select>
	
</mapper>